---
excerpt: "Websites and apps for grassroots sports clubs and sport leagues, without the premium price tag."
layout: default
---
{% capture content %}
    <h1 class="mb-3 text-body-emphasis">Websites and apps for grassroots sports clubs and sport leagues, without the premium price tag</h1>
    <p class="mb-4" style="font-size: 1.125rem;">We have nearly two decades of experience in creating digital platforms for sports clubs and leagues of all sizes.</p>
    <a class="btn btn-lg btn-outline-primary" href="#services">Find out more</a>
{% endcapture %}
{% capture image %}
{% endcapture %}
{% include hero.html content=content image=image %}
<section class="mb-5" id="services">
    <div class="container pt-5">
        <header class="mb-4 text-start">
            <h2 class="fs-3 mb-1">Services</h2>
            <p class="mb-0">Your Sport Site is able to offer a range of services to sports clubs and sport leagues of all sizes. Our platform encompasses the following features and more.</p>
        </header>
        <div class="g-3 row row-cols-2">
            <div class="col">
                {% capture content %}
                    <p>A professional website designed around the branding of your sports club or league. Your website will also look great across all devices such as desktop, tablet, and mobile.</p>
                {% endcapture %}
                {% include feature.html icon="window-fullscreen" title="Sports club website" content=content %}
            </div>
            <div class="col">
                {% capture content %}
                    <p>Keep your fans updated with an app on their Android or iOS device. Use notifications to delivery timely offers and promotions, and to inform them of latest developments and signings.</p>
                {% endcapture %}
                {% include feature.html icon="phone" title="Mobile app" content=content %}
            </div>
            <div class="col">
                {% capture content %}
                    <p>Increase revenue for your club or league with online and in-person sales. From season tickets to matchday merchandise, turn fans into paying customers.</p>
                {% endcapture %}
                {% include feature.html icon="wallet2" title="Retail and e-commerce" content=content %}
            </div>
            <div class="col">
                {% capture content %}
                    <p>We have considerable experience in building <abbr data-bs-toggle="tooltip" title="Video On Demand">VOD</abbr> and live streaming platforms. Reach fans on match days, even if they’re not there in person.</p>
                {% endcapture %}
                {% include feature.html icon="broadcast" title="Live streaming" content=content %}
            </div>
        </div>
    </div>
</section>
<section class="mb-5" id="faqs">
    <div class="container">
        <header class="mb-3 text-center">
            <h2 class="mb-0">Frequently asked questions</h2>
        </header>
        <div class="accordion accordion-flush mx-auto" id="faq-accordion" style="max-width: 33.75rem;">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="faq-pricing" aria-expanded="false" class="accordion-button bg-transparent collapsed fw-medium text-body" data-bs-target="#faq-pricing" data-bs-toggle="collapse" type="button">
                        <span>How much does it cost?</span>
                    </button>
                </h2>
                <div id="faq-pricing" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body last-child-mb-0">
                        <p>Design and set up is free. A subscription of &pound;19.99 per month is then required, which includes hosting and platform updates.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="faq-cancel" aria-expanded="false" class="accordion-button bg-transparent collapsed fw-medium text-body" data-bs-target="#faq-cancel" data-bs-toggle="collapse" type="button">
                        <span>Can we cancel at any time?</span>
                    </button>
                </h2>
                <div id="faq-cancel" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body last-child-mb-0">
                        <p>We hope our service more than fulfills your needs, but should you wish to cancel then you may do so at any time.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="faq-domain" aria-expanded="false" class="accordion-button bg-transparent collapsed fw-medium text-body" data-bs-target="#faq-domain" data-bs-toggle="collapse" type="button">
                        <span>We already have a domain. Can we keep it?</span>
                    </button>
                </h2>
                <div id="faq-domain" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body last-child-mb-0">
                        <p>Absolutely! We will help you configure the settings needed to connect your domain to our service. You will retain ownership and control over your domain.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="faq-content" aria-expanded="false" class="accordion-button bg-transparent collapsed fw-medium text-body" data-bs-target="#faq-content" data-bs-toggle="collapse" type="button">
                        <span>We already have a website. What will happen to our content?</span>
                    </button>
                </h2>
                <div id="faq-content" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body last-child-mb-0">
                        <p>We appreciate you may already have a website, and with lots of content created over a long period of time. We will do our very best to come up with a strategy to migrate as much content as possible from your current website so that you’re not starting again. We will also ensure redirects are in place to protect your search engine rankings.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="faq-other" aria-expanded="false" class="accordion-button bg-transparent collapsed fw-medium text-body" data-bs-target="#faq-other" data-bs-toggle="collapse" type="button">
                        <span>I have a question that’s not answered above</span>
                    </button>
                </h2>
                <div id="faq-other" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body last-child-mb-0">
                        <p>No problem. <a data-bs-toggle="modal" href="#enquiry-modal">Get in touch</a> and we will do our best to answer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
