<header class="bg-body hero position-relative text-body" data-bs-theme="dark">
  {% if include.background %}
    <div class="bg-blur bottom-0 end-0 hero-background opacity-10 position-absolute start-0 top-0">
      <div class="bg-repeat bg-x-left bg-y-top bottom-0 end-0 position-absolute start-0 top-0" style="background-image: url('{{ include.background | relative_url }}'); filter: grayscale(1);"></div>
    </div>
  {% endif %}
  <div class="container position-relative">
    <div class="border-2 border-top py-5" style="--bs-border-color: rgba(var(--bs-white-rgb), .1);">
      <div class="gy-5 row row-cols-1{% if include.image %} row-cols-md-2 text-center text-md-start{% endif %}">
        <div class="col last-child-mb-0">
          <div style="max-width: 47.5rem;">
            {{ include.content }}
          </div>
        </div>
        {% if include.image %}
          <div class="col">
            <!-- {{ include.image }} -->
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
