---
layout: page
---
{% assign competition = site.data.football.competitions | find: 'slug', page.competition %}
{% if competition %}
  <h1 class="mb-2">{{ page.title }}</h1>
  {% if competition.is_national_league %}
    <div class="border-bottom mb-3">
      <ul class="nav nav-underline" style="margin-bottom: -1px;">
        <li class="nav-item">
          <a class="{% if page.competition == 'national-league' %}active {% endif %}nav-link" href="{% link football/competitions/national-league/table.md %}">National League</a>
        </li>
        <li class="nav-item">
          <a class="{% if page.competition == 'national-league-north' %}active {% endif %}nav-link" href="{% link football/competitions/national-league-north/table.md %}">
            <span class="d-none d-md-inline">National League</span>
            North
          </a>
        </li>
        <li class="nav-item">
          <a class="{% if page.competition == 'national-league-south' %}active {% endif %}nav-link" href="{% link football/competitions/national-league-south/table.md %}">
            <span class="d-none d-md-inline">National League</span>
            South
          </a>
        </li>
      </ul>
    </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-league">
      <thead>
        <tr>
          <th class="pe-0" scope="col">
            <span class="visually-hidden">Position</span>
          </th>
          <th scope="col">Team</th>
          <th scope="col">
            <abbr title="Played">Pl</abbr>
          </th>
          <th scope="col">
            <abbr title="Won">W</abbr>
          </th>
          <th scope="col">
            <abbr title="Drawn">D</abbr>
          </th>
          <th scope="col">
            <abbr title="Lost">L</abbr>
          </th>
          <th scope="col">
            <abbr title="Goals for">GF</abbr>
          </th>
          <th scope="col">
            <abbr title="Goals against">GA</abbr>
          </th>
          <th scope="col">
            <abbr title="Goal difference">GD</abbr>
          </th>
          <th scope="col">
            <abbr title="Points">Pts</abbr>
          </th>
          <th scope="col">Form</th>
        </tr>
      </thead>
      <tbody class="tabular-nums">
        {% for standing in competition.standings %}
          <tr>
            <td class="pe-0" style="width: 1%;">{{ standing.position }}</td>
            <td class="fw-bold">{{ standing.team_name }}</td>
            <td style="width: 1%;">{{ standing.played }}</td>
            <td style="width: 1%;">{{ standing.won }}</td>
            <td style="width: 1%;">{{ standing.drawn }}</td>
            <td style="width: 1%;">{{ standing.lost }}</td>
            <td style="width: 1%;">{{ standing.goals_for }}</td>
            <td style="width: 1%;">{{ standing.goals_against }}</td>
            <td style="width: 1%;">{{ standing.goals_for | minus: standing.goals_against }}</td>
            <td style="width: 1%;">{{ standing.points }}</td>
            <td style="width: 1%;">
              <ul class="column-gap-1 d-flex flex-nowrap form-list list-unstyled mb-0">
                {% for result in standing.form %}
                  <li class="d-flex form-list-item">
                    {% case result %}
                      {% when "win" %}
                        <abbr class="form-indicator form-indicator-won" title="Won">W</abbr>
                      {% when "loss" %}
                        <abbr class="form-indicator form-indicator-lost" title="Lost">L</abbr>
                      {% when "draw" %}
                        <abbr class="form-indicator form-indicator-drawn" title="Drawn">D</abbr>
                    {% endcase %}
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if competition.last_updated %}
    <p class="small text-body-secondary">Last updated <time datetime="{{ competition.last_updated | date_to_xmlschema }}">{{ competition.last_updated | date_to_long_string: 'ordinal', 'GB' }}</time></p>
  {% endif %}
{% else %}
  <h1>Unknown competition</h1>
{% endif %}
